@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --primaryColor: rgba(0, 107, 237, 0.79);
    --secondaryColor: blue;
    --tertiaryColor: #952e2e;
    --backgroundColor: #252628;


    --largeFontSize: 2rem;
    --mediumFontSize: 1.3rem;
}



/* element styels */
.noScrollBar::-webkit-scrollbar {
    display: none;
}

*,
*::before,
*::after {
    /* border: 1px solid red !important; */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--backgroundColor);
}

*::-webkit-scrollbar {
    height: .2rem;
    width: .2rem;
}

*::-webkit-scrollbar-track {
    background-color: #ffffff;

}

h1 {
    font-weight: bold;
    font-size: var(--largeFontSize);
}

h2 {
    font-size: var(--mediumFontSize);
}

h3 {
    font-weight: bold;
}

svg {
    width: 1rem;
    aspect-ratio: 1/1;
    transition: scale 600ms;
}

svg:hover {
    scale: 1.1
}


.mainButton {
    background-color: var(--primaryColor);
    border-radius: .2rem;
    text-transform: capitalize;
    color: #fff;
    padding: 1rem 2rem;
    transition: filter 400ms;
}

.mainButton:hover {
    filter: brightness(.8);
}

.secondaryButton {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    text-transform: capitalize;
    color: #fff;
    padding: 1rem 2rem;
    transition: background-color 400ms, color 400ms;

}

.secondaryButton>svg {
    fill: #fff
}

.secondaryButton:hover {
    background-color: #fff;
    color: #000;
}

.secondaryButton:hover>svg {
    fill: #000
}

section {
    padding: 2rem 1rem;
}


/* custom styels */

.resizeSvg>svg {
    width: 100%;
    aspect-ratio: 1/1;
}


.highlight {
    color: var(--primaryColor)
}


.noDisplay {
    display: none;
}

.fadeIn {
    animation: fadeIn calc(var(--fadeTime, 1s)) both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slideInCont {
    overflow: hidden;
}

.slideIn {
    position: relative;
    animation: slideIn 1s both;
    transform-origin: bottom left;
}

@keyframes slideIn {
    0% {
        translate: 0 100%;
    }

    100% {
        translate: 0 0%;
    }
}


.supportingTitle1 {
    text-transform: uppercase;
    position: relative;
    justify-self: flex-start;
}

.supportingTitle1::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 0;
    width: 100%;
    border-top: solid 2px #fff;
    text-transform: uppercase;
}

.supportingTitle2 {
    text-transform: uppercase;
    position: relative;
    color: var(--primaryColor);
    font-weight: bold;
    display: flex;
    gap: .5rem;
}

.supportingTitle2::before {
    content: "//";
}

.snap {
    scroll-snap-type: x mandatory;
}

.snap>* {
    scroll-snap-align: start;
}