@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --primaryColor: rgba(0, 107, 237, 0.79);
    --secondaryColor: blue;
    --tertiaryColor: #952e2e;
    --backgroundColor: #252628;


    --largeFontSize: 2rem;
    --mediumFontSize: 1.3rem;
}



/* element styels */
.noScrollBar::-webkit-scrollbar {
    display: none;
}

*,
*::before,
*::after {
    /* border: 1px solid red !important; */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--backgroundColor);
}

*::-webkit-scrollbar {
    height: .2rem;
    width: .2rem;
}

*::-webkit-scrollbar-track {
    background-color: #ffffff;

}

h1 {
    font-weight: bold;
    font-size: var(--largeFontSize);
}

h2 {
    font-size: var(--mediumFontSize);
}

h3 {
    font-weight: bold;
}

svg {
    width: 1rem;
    aspect-ratio: 1/1;
    transition: scale 600ms;
}

svg:hover {
    scale: 1.1
}


button {
    background-color: var(--primaryColor);
    border-radius: .2rem;
    text-transform: capitalize;
    color: #fff;
    padding: 1rem 2rem;
}

button:hover {}

.secondaryButton {}

section {
    padding: 2rem 1rem;
}


/* custom styels */


.highlight {
    color: var(--backgroundColor)
}


.noDisplay {
    display: none;
}

.fadeIn {
    animation: fadeIn 1s both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}