.mainCard {}

.outline {
    border: 3px solid transparent;
    transition: border 400ms;
}

.mainCard:hover .outline {
    border: 3px solid var(--primaryColor)
}

.circleCont {
    translate: -50% -50%;
    transition: translate 400ms;
}

.mainCard:hover .circleCont {
    translate: -50% -100%;
}